<template name="employmentService">
  <div class="row">
    <!-- Image Card -->
    <div class="col s12 m12">
     <h2 class="header">Уважаемые посетители портала</h2>
      <div class="card">
        <div class="card-image">
          <img src="http://perseverance.in/balajiEnterprises//assets/images/job7.jpg">
          <span class="card-title">Портал занятости</span>
        </div>
        <div class="card-content">
          <p>
            Содействие занятости является одним из важнейших направлений деятельности Министерства труда и социальной защиты населения республики Казахстан.
            <br /> Услуги гражданам, ищущим работу, работодателям в подборе необходимых работников непосредственно оказывается в центрах занятости населения. Все услуги предоставляются бесплатно.
            <br />Сегодня портал выполняет важную современную функцию - он позволяет нашим клиентам самостоятельно, дистанционно, без посещения центра занятости решать свои проблемы.
          </p>
        </div>
        <div class="card-action">
          <a href="/forUnemployed">Ищу работу</a>
        </div>
        <div class="card-action">
          <a href="/forEmployees">Предлагаю работу</a>
        </div>
      </div>
    </div>
  </div>
</template>
