<template name="forUnemployed">
  <h2 class="header">Найти работу</h2>
  <div class="row">
    <div class="input-field col s6">
      <select>
        <option value="" disabled selected>Фильтровать по</option>
        <option value="1">Название</option>
        <option value="2">Номер телефона</option>
        <option value="3">Адрес</option>
        <option value="4">Электронная почта</option>
      </select>
      <label>по какому параметру фильтровать список?</label>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input placeholder="введите параметр" id="first_name" type="text" class="validate">
        </div>
      </div>
  </div>
  <div class="card  light-blue">
    <div class="card-content white-text">
      <span class="card-title">BI Group</span>
      <p>
        Холдинг BI Group-Construction ставит перед собой стратегическую цель — войти в топ-100
        международных компаний с лидирующими позициями не только в Республике, но и за рубежом.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Самрук-Қазына</span>
      <p>
        Фонд национального благосостояния «Самрук-Қазына» создан для повышения
        конкурентоспособности и устойчивости национальной экономики и упреждения
        факторов возможно негативного влияния изменений на мировых рынках на экономический рост в стране.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card  light-blue">
    <div class="card-content white-text">
      <span class="card-title">Mercedes-Benz</span>
      <p>
        Холдинг BI Group-Construction ставит перед собой стратегическую цель — войти в топ-100
        международных компаний с лидирующими позициями не только в Республике, но и за рубежом.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">КазМунайГаз</span>
      <p>
        Фонд национального благосостояния «Самрук-Қазына» создан для повышения
        конкурентоспособности и устойчивости национальной экономики и упреждения
        факторов возможно негативного влияния изменений на мировых рынках на экономический рост в стране.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card  light-blue">
    <div class="card-content white-text">
      <span class="card-title">Air Astana</span>
      <p>
        Холдинг BI Group-Construction ставит перед собой стратегическую цель — войти в топ-100
        международных компаний с лидирующими позициями не только в Республике, но и за рубежом.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">BMW Group</span>
      <p>
        Фонд национального благосостояния «Самрук-Қазына» создан для повышения
        конкурентоспособности и устойчивости национальной экономики и упреждения
        факторов возможно негативного влияния изменений на мировых рынках на экономический рост в стране.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card  light-blue">
    <div class="card-content white-text">
      <span class="card-title">Microsoft</span>
      <p>
        Холдинг BI Group-Construction ставит перед собой стратегическую цель — войти в топ-100
        международных компаний с лидирующими позициями не только в Республике, но и за рубежом.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <div class="card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">Apple</span>
      <p>
        Фонд национального благосостояния «Самрук-Қазына» создан для повышения
        конкурентоспособности и устойчивости национальной экономики и упреждения
        факторов возможно негативного влияния изменений на мировых рынках на экономический рост в стране.
      </p>
    </div>
    <div class="card-action">
      <a href="#" class="lime-text text-accent-1">Позвонить</a>
      <a href="#" class="lime-text text-accent-1">Послать резюме</a>
    </div>
  </div>
  <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
</template>
