<template name="mainLayout">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Портал занятости населения</a>
        <ul class="right hide-on-med-and-down">
          <li class="{{isActivePath '/'}}"><a href="/">Служба занятости РБ</a></li>
          <li class="{{isActivePath '/forUnemployed'}}"><a href="/forUnemployed">Ищущим работу</a></li>
          <li class="{{isActivePath '/forEmployees'}}"><a href="/forEmployees">Работодателям</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    {{> Template.dynamic template=content}}
  </div>
</template>
