<template name="forEmployees">
  <h2 class="header">Найти сотрудника</h2>
  <div class="row">
    <div class="input-field col s6">
      <select>
        <option value="" disabled selected>Фильтровать по</option>
        <option value="1">Должность</option>
        <option value="2">Семейное положение</option>
        <option value="3">Пол</option>
        <option value="4">ФИО</option>
      </select>
      <label>по какому параметру фильтровать список?</label>
    </div>
    <div class="row">
        <div class="input-field col s6">
          <input placeholder="введите параметр" id="first_name" type="text" class="validate">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content">
        <img width="50" height="50" src="http://image005.flaticon.com/1/svg/145/145852.svg" alt="" class="circle responsive-img activator card-profile-image">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
          <i class="mdi-editor-mode-edit"></i>
        </a>

        <span class="card-title activator grey-text text-darken-4">Айман Нурбекова</span>
        <p><i class="mdi-action-perm-identity"></i> официантка</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (775) 222 8989</p>
        <p><i class="mdi-communication-email"></i> aiman@mail.com</p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Айман Нурбекова <i class="mdi-navigation-close right"></i></span>
        <p>Дополнительная информация об Айман Нурбековой</p>
        <p><i class="mdi-action-perm-identity"></i> официантка</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (775) 222 8989</p>
        <p><i class="mdi-communication-email"></i> aiman@mail.com</p>
        <p><i class="mdi-social-cake"></i> родилась 15 февраля 1995 года
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img width="50" height="50" src="http://image005.flaticon.com/1/svg/145/145867.svg" alt="" class="circle responsive-img activator card-profile-image">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
          <i class="mdi-editor-mode-edit"></i>
        </a>

        <span class="card-title activator grey-text text-darken-4">Мейржан Маркабаев</span>
        <p><i class="mdi-action-perm-identity"></i> бухгалтер</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (705) 111 8959</p>
        <p><i class="mdi-communication-email"></i> meirzhan@mail.com</p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Мейржан Маркабаев <i class="mdi-navigation-close right"></i></span>
        <p>Дополнительная информация о Мейржане Маркабаеве</p>
        <p><i class="mdi-action-perm-identity"></i> бухгалтер</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (705) 111 8959</p>
        <p><i class="mdi-communication-email"></i> meirzhan@mail.com</p>
        <p><i class="mdi-social-cake"></i> родился 10 марта 1984 года
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img width="50" height="50" src="http://image005.flaticon.com/1/svg/122/122491.svg" alt="" class="circle responsive-img activator card-profile-image">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
          <i class="mdi-editor-mode-edit"></i>
        </a>

        <span class="card-title activator grey-text text-darken-4">Роза Давлетова</span>
        <p><i class="mdi-action-perm-identity"></i> адвокат</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (702) 111 1010</p>
        <p><i class="mdi-communication-email"></i> rosa@mail.com</p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Роза Давлетова <i class="mdi-navigation-close right"></i></span>
        <p>Дополнительная информация о Розе Давлетовой</p>
        <p><i class="mdi-action-perm-identity"></i> адвокат</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (702) 111 1010</p>
        <p><i class="mdi-communication-email"></i> rosa@mail.com</p>
        <p><i class="mdi-social-cake"></i> родилась 15 января 1999 года
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img width="50" height="50" src="http://image005.flaticon.com/159/svg/149/149076.svg" alt="" class="circle responsive-img activator card-profile-image">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
          <i class="mdi-editor-mode-edit"></i>
        </a>

        <span class="card-title activator grey-text text-darken-4">Иван Иванов</span>
        <p><i class="mdi-action-perm-identity"></i> слесарь</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (702) 222 8989</p>
        <p><i class="mdi-communication-email"></i> ivan@mail.com</p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Иван Иванов <i class="mdi-navigation-close right"></i></span>
        <p>Дополнительная информация об Иване Иванове</p>
        <p><i class="mdi-action-perm-identity"></i> слесарь</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (702) 222 8989</p>
        <p><i class="mdi-communication-email"></i> ivan@mail.com</p>
        <p><i class="mdi-social-cake"></i> родилась 5 июня 1976 года
        </p>
      </div>
    </div>
    {{#each unemployed}}
    <div class="card">
      <div class="card-content">
        <img width="50" height="50" src="{{photo}}" alt="" class="circle responsive-img activator card-profile-image">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
          <i class="mdi-editor-mode-edit"></i>
        </a>

        <span class="card-title activator grey-text text-darken-4">{{firstName}} {{lastName}}</span>
        <p><i class="mdi-action-perm-identity"></i> {{position}}</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (702) 222 8989</p>
        <p><i class="mdi-communication-email"></i> {{email}}</p>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{firstName}} {{lastName}} <i class="mdi-navigation-close right"></i></span>
        <p>Дополнительная информация об {{firstName}} {{lastName}}</p>
        <p><i class="mdi-action-perm-identity"></i>  {{position}}</p>
        <p><i class="mdi-action-perm-phone-msg"></i> +7 (702) 222 8989</p>
        <p><i class="mdi-communication-email"></i> {{email}}</p>
        <p><i class="mdi-social-cake"></i> родился(ась) {{birthdate}}
        </p>
      </div>
    </div>
    {{/each}}
    <a href="/createUnemployed" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>
</template>
