<template name="createUnemployed">
  <div class="row">
    <h2 class="header">Создать соискателя</h2>
    <form id="create-unemployed-form" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="cu-last-name" type="text" class="validate">
          <label for="cu-last-name">Фамилия</label>
        </div>
        <div class="input-field col s6">
          <input id="cu-first-name" type="text" class="validate">
          <label for="cu-first-name">Имя</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="cu-email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input type="date" id="cu-birthdate" class="datepicker">
          <label for="cu-first-name">Дата рождения</label>
        </div>
      </div>
      <div class="row">
        <select class="col s4" id="cu-marital-status">
          <option value="" disabled selected>Семейное положение</option>
          <option>женат/замужем</option>
          <option>холост/незамужем</option>
        </select>
        <select class="col s4" id="cu-position">
          <option value="" disabled selected>Должность</option>
          <option>бухгалтер</option>
          <option>программист</option>
          <option>футболист</option>
          <option>мед. сестра</option>
        </select>
        <select class="col s4" id="cu-sex">
          <option value="" disabled selected>Пол</option>
          <option>муж</option>
          <option>жен</option>
        </select>
      </div>
      <div class="row">
        <a id="create-unemployed-button" class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>Создать</a>
      </div>
    </form>
  </div>
</template>
